<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lianfang.mapper.AttendingMapper" >
  <resultMap id="BaseResultMap" type="com.example.lianfang.entity.Attending" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <id column="which_subject" property="whichSubject" jdbcType="VARCHAR" />
    <id column="which_time" property="whichTime" jdbcType="INTEGER" />
    <result column="which_term" property="whichTerm" jdbcType="CHAR" />
    <result column="which_year" property="whichYear" jdbcType="CHAR" />
    <result column="is_attend" property="isAttend" jdbcType="CHAR" />
    <result column="class_no" property="classNo" jdbcType="CHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, which_subject, which_time, which_term, which_year, is_attend, class_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.example.lianfang.entity.AttendingKey" >
    select 
    <include refid="Base_Column_List" />
    from attending
    where id = #{id,jdbcType=VARCHAR}
      and which_subject = #{whichSubject,jdbcType=VARCHAR}
      and which_time = #{whichTime,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.lianfang.entity.AttendingKey" >
    delete from attending
    where id = #{id,jdbcType=VARCHAR}
      and which_subject = #{whichSubject,jdbcType=VARCHAR}
      and which_time = #{whichTime,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.lianfang.entity.Attending" >
    insert into attending (id, which_subject, which_time, 
      which_term, which_year, is_attend,class_no
      )
    values (#{id,jdbcType=VARCHAR}, #{whichSubject,jdbcType=VARCHAR}, #{whichTime,jdbcType=INTEGER}, 
      #{whichTerm,jdbcType=CHAR}, #{whichYear,jdbcType=CHAR}, #{isAttend,jdbcType=CHAR}, #{classNo,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.lianfang.entity.Attending" >
    insert into attending
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="whichSubject != null" >
        which_subject,
      </if>
      <if test="whichTime != null" >
        which_time,
      </if>
      <if test="whichTerm != null" >
        which_term,
      </if>
      <if test="whichYear != null" >
        which_year,
      </if>
      <if test="isAttend != null" >
        is_attend,
      </if>
      <if test="classNo != null" >
        class_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="whichSubject != null" >
        #{whichSubject,jdbcType=VARCHAR},
      </if>
      <if test="whichTime != null" >
        #{whichTime,jdbcType=INTEGER},
      </if>
      <if test="whichTerm != null" >
        #{whichTerm,jdbcType=CHAR},
      </if>
      <if test="whichYear != null" >
        #{whichYear,jdbcType=CHAR},
      </if>
      <if test="isAttend != null" >
        #{isAttend,jdbcType=CHAR},
      </if>
      <if test="class_no != null" >
        #{classNo,jdbcType=CHAR},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.lianfang.entity.Attending" >
    update attending
    <set >
      <if test="whichTerm != null" >
        which_term = #{whichTerm,jdbcType=CHAR},
      </if>
      <if test="whichYear != null" >
        which_year = #{whichYear,jdbcType=CHAR},
      </if>
      <if test="isAttend != null" >
        is_attend = #{isAttend,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
      and which_subject = #{whichSubject,jdbcType=VARCHAR}
      and which_time = #{whichTime,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.lianfang.entity.Attending" >
    update attending
    set which_term = #{whichTerm,jdbcType=CHAR},
      which_year = #{whichYear,jdbcType=CHAR},
      is_attend = #{isAttend,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
      and which_subject = #{whichSubject,jdbcType=VARCHAR}
      and which_time = #{whichTime,jdbcType=INTEGER}
  </update>

  <update id="updateAttendingSituation" parameterType="java.util.List" >
   <foreach collection="list" item="student" separator=",">
     update attending set is_attend = #{student.isAttend}
     where id = #{student.id,jdbcType=VARCHAR}
     and which_subject = #{student.whichSubject,jdbcType=VARCHAR}
     and which_time = #{student.whichTime,jdbcType=INTEGER}
   </foreach>

  </update>
  <select id="checkByClass" parameterType="com.example.lianfang.entity.Attending" resultType="com.example.lianfang.entity.Attending">
    select id,is_attend from attending where which_subject = #{whichSubject}
    and which_time = #{whichTime}
    and class_no = #{classNo}
  </select>
  <delete id="deleteByClass" parameterType="com.example.lianfang.entity.Attending">
    delete from attending where which_subject = #{whichSubject}
    and which_time = #{whichTime}
    and class_no = #{classNo}
  </delete>
          
</mapper>