<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lianfang.mapper.StudentHomeworkMapper">

    <insert id="insertByClassNo" >
        insert into homework(
        id, which_year, which_term, which_subject, which_time, is_attend,class_no
        )
        values
        <foreach collection="stuList" item="user" separator="," >
            (
            #{user.id},#{year},#{term},#{subject},#{time},#{isattend},#{classNo}
            )
        </foreach>
    </insert>
    <select id="selectIsHomeworkExist" resultType="com.example.lianfang.entity.Homework">
        select id from homework where which_subject = #{whichSubject}
         and which_time = #{whichTime}
          and class_no = #{classNo}

    </select>
</mapper>